.container div{ 
    display: flex;
    border: 1px #ccc solid;
    padding: 10px;
}

.box{
    flex: 1;
    width: 30%;
}

.booth {
    width: 400px;
    background-color: #ccc;
    border: 10px solid #ddd;
    margin: 0 auto;
}

.booth-capture-button {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

/* #canvas {
    position: absolute;
    top : 97px;
    z-index: +1;
} */