* {
    border: #ccc solid 1px;
}

body {
    margin: 0;
}

.container div{ 
    display: flex;
    /* border: 1px #ccc solid; */
    /* border: solid black 1px; */
    padding: 10px;
}



.box{
    /* border: solid black 2px; */
    flex: 1;
    width: 30%;
}

.booth {
    display: flex;
    width: 800px;
    background-color: #ccc;
    border: 10px solid #ddd;
    /* margin: 0 auto; */
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 800px; */
}

#capture2 {
    margin-left: 30px;
}
.booth-capture-button {
    display: block;
    margin: 10px ;
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: #fff;
    text-align: center;
    text-decoration: none;
    width: 350px;
}

/* .booth-capture-button */

.camera {
    display: flex;
    justify-content: center;
    align-items: center;
}



input[type=submit] {
    color: #fff;
    border: none;
    background-color: cornflowerblue;
}


/* #canvas {
    position: absolute;
    top : 97px;
    z-index: +1;
} */

