

ul li {
    display: inline;
}

textarea {
    display: block;
}

body {
    
    margin: 0;
}

ul {
    /* border: blueviolet 1px solid; */
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 50px;
}

li {
    float: left;
}


.title {
    text-align: center;
}

.login-form {
    display: block;
    text-align: center;
    margin-top: 230px;
}

.login-msg {
    text-align: center;
}

#footer {
    height: 200px;
    border: chocolate solid 1px;
}

.front-form {
    border: red solid 1px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
}

.container div{ 
    display: flex;
    /* border: 1px #ccc solid; */
    /* border: solid black 1px; */
    padding: 10px;
}



.box{
    /* border: solid black 2px; */
    flex: 1;
    width: 30%;
    border: coral solid 1px;
}

.everyone {
    display: block;
}

.booth {
    display: flex;
    width: 800px;
    background-color: #ccc;
    border: 10px solid #ddd;
    /* margin: 0 auto; */
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 800px; */
}

#capture2 {
    margin-left: 30px;
}
.booth-capture-button {
    display: block;
    margin: 10px ;
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: #fff;
    text-align: center;
    text-decoration: none;
    width: 350px;
}

nav {
    border: black solid 1px;
    margin: auto;
    border-radius: 20px;
}

/* .booth-capture-button */
.login-nav {
    /* border: blue solid 1px; */
    padding: 15px;
    position: relative;
    right: -50%;
    /* height: 50px;
    float: right;
    width: 600px; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline-block;
}

.camera {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 70px;
    width: 70px;
    padding: 2px;
    margin-left: 50px;
}



/* input[type=] */


/* #canvas {
    position: absolute;
    top : 97px;
    z-index: +1;
} */

